#snow {
  /* The image used */
  background-image: url('/assets/fantasy-2925250_1920.jpg');

  /* Full height */
  height: 1000px;
  width: auto;
  border: black 5px solid;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#mountain {
  /* The image used */
  background-image: url('/assets/planet-1702788_1920.jpg');

  /* Full height */
  height: 1000px;
  width: auto;
  border: black 5px solid;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#forest {
  /* The image used */
  background-image: url('/assets/forest.jpg');

  /* Full height */
  height: 1000px;
  width: auto;
  border: black 5px solid;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#lake {
  /* The image used */
  background-image: url('/assets/lake.jpg');

  /* Full height */
  height: 1000px;
  width: auto;
  border: black 5px solid;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#swamp {
  /* The image used */
  background-image: url('/assets/swamp.jpg');

  /* Full height */
  height: 1000px;
  width: auto;
  border: black 5px solid;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#logout {
  float: right;
}

#sel1 {
  position: absolute;
  right: 100px;
}
#lock {
  position: absolute;
  right: 250px;
}
#main {
  position: relative;
  top: 50px;
}

body, html {
  overflow: hidden;
}
