<body id='{{theme}}'>
<router-outlet></router-outlet>
  <div *ngIf='!checkLogin()'>
      <form #form="ngForm">
          Username: <input type="text" name="username" ngModel>
          Password: <input type="text" name="password" ngModel>

          <input type="submit" value="Log In" (click)=login(form)>
        </form>

        <input *ngIf=checkLogin() type="submit" value="Logout" (click)=logout()>

        <form #form="ngForm" *ngIf=!checkLogin()>
            <h1>REGISTER</h1>
            Email: <input type="text" name="username" ngModel>
            Password: <input type="text" name="password" ngModel>

            <input type="submit" value="Submit" (click)=register(form)>
          </form>
  </div>
  <input id='logout' class='btn btn' *ngIf=checkLogin() type="submit" value="Logout" (click)=logout()>
  <select class="form-control col-sm-1" id="sel1" [(ngModel)]=theme>
    <option value='snow'>Snow</option>
    <option value='mountain'>Mountain</option>
    <option value='forest'>Forest</option>
    <option value='lake'>Lake</option>
    <option value='swamp'>Swamp</option>
    <option value='red'>Red</option>
  </select>
  <div id='main'>
    <div lb-gridstack>
      <div class="grid-stack-item ui-draggable ui-resizable ui-resizable-autohide ui-resizable-disabled" data-gs-width="3" data-gs-height="4"
        data-gs-min-width="2" data-gs-no-resize="yes">
        <div class="grid-stack-item-content ui-draggable-handle">
          <span class="fa fa-hand-o-up"></span>
          <app-dice-roller></app-dice-roller>
        </div>
        <div class="ui-resizable-handle ui-resizable-e" style="z-index: 90; display: none;"></div>
        <div class="ui-resizable-handle ui-resizable-se ui-icon ui-icon-gripsmall-diagonal-se" style="z-index: 90; display: none;"></div>
        <div class="ui-resizable-handle ui-resizable-s" style="z-index: 90; display: none;"></div>
        <div class="ui-resizable-handle ui-resizable-sw" style="z-index: 90; display: none;"></div>
        <div class="ui-resizable-handle ui-resizable-w" style="z-index: 90; display: none;"></div>
      </div>

      <div class="grid-stack-item ui-draggable ui-resizable ui-resizable-autohide ui-resizable-disabled" data-gs-width="3" data-gs-height="6"
        data-gs-min-width="2" data-gs-no-resize="yes" data-gs-x="9">
        <div class="grid-stack-item-content ui-draggable-handle">
          <span class="fa fa-hand-o-up"></span>
          <app-party></app-party>
        </div>
        <div class="ui-resizable-handle ui-resizable-e" style="z-index: 90; display: none;"></div>
        <div class="ui-resizable-handle ui-resizable-se ui-icon ui-icon-gripsmall-diagonal-se" style="z-index: 90; display: none;"></div>
        <div class="ui-resizable-handle ui-resizable-s" style="z-index: 90; display: none;"></div>
        <div class="ui-resizable-handle ui-resizable-sw" style="z-index: 90; display: none;"></div>
        <div class="ui-resizable-handle ui-resizable-w" style="z-index: 90; display: none;"></div>
      </div>
      <div class="grid-stack-item ui-draggable ui-resizable ui-resizable-autohide ui-resizable-disabled" data-gs-width="3" data-gs-height="7"
        data-gs-min-width="2" data-gs-no-resize="yes" data-gs-x="9" data-gs-y="4">
        <div class="grid-stack-item-content ui-draggable-handle">
          <span class="fa fa-hand-o-up"></span>
          <app-encounter></app-encounter>
        </div>
        <div class="ui-resizable-handle ui-resizable-e" style="z-index: 90; display: none;"></div>
        <div class="ui-resizable-handle ui-resizable-se ui-icon ui-icon-gripsmall-diagonal-se" style="z-index: 90; display: none;"></div>
        <div class="ui-resizable-handle ui-resizable-s" style="z-index: 90; display: none;"></div>
        <div class="ui-resizable-handle ui-resizable-sw" style="z-index: 90; display: none;"></div>
        <div class="ui-resizable-handle ui-resizable-w" style="z-index: 90; display: none;"></div>
      </div>

      <div class="grid-stack-item ui-draggable ui-resizable ui-resizable-autohide ui-resizable-disabled" data-gs-width="6" data-gs-height="10"
        data-gs-min-width="2" data-gs-no-resize="yes" data-gs-x="3">
        <div class="grid-stack-item-content ui-draggable-handle">
          <span class="fa fa-hand-o-up"></span>
          <app-library></app-library>
        </div>
        <div class="ui-resizable-handle ui-resizable-e" style="z-index: 90; display: none;"></div>
        <div class="ui-resizable-handle ui-resizable-se ui-icon ui-icon-gripsmall-diagonal-se" style="z-index: 90; display: none;"></div>
        <div class="ui-resizable-handle ui-resizable-s" style="z-index: 90; display: none;"></div>
        <div class="ui-resizable-handle ui-resizable-sw" style="z-index: 90; display: none;"></div>
        <div class="ui-resizable-handle ui-resizable-w" style="z-index: 90; display: none;"></div>
      </div>
      <div class="grid-stack-item ui-draggable ui-resizable ui-resizable-autohide ui-resizable-disabled" data-gs-width="3" data-gs-height="5"
        data-gs-min-width="2" data-gs-no-resize="yes" data-gs-y="4">
        <div class="grid-stack-item-content ui-draggable-handle">
          <span class="fa fa-hand-o-up"></span>
          <app-general></app-general>
        </div>
        <div class="ui-resizable-handle ui-resizable-e" style="z-index: 90; display: none;"></div>
        <div class="ui-resizable-handle ui-resizable-se ui-icon ui-icon-gripsmall-diagonal-se" style="z-index: 90; display: none;"></div>
        <div class="ui-resizable-handle ui-resizable-s" style="z-index: 90; display: none;"></div>
        <div class="ui-resizable-handle ui-resizable-sw" style="z-index: 90; display: none;"></div>
        <div class="ui-resizable-handle ui-resizable-w" style="z-index: 90; display: none;"></div>
      </div>
    </div>
  </div>
</body>
