#encounterMain {
  background-color: #06000a;
  height: auto;
  width: auto;
  border: black 5px solid;
  color: #e6e6e8;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
