<div id='partyMain'>
    <div class="container" height=40px>
    <h1>Party</h1>
    <ul>
      <p *ngFor='let player of players'>
        {{player.name}}
        <br>
        <span>
          <div class="btn-group" role="group" aria-label="Basic example">

            <button class="btn btn-sm" (click)="open(content); selectedPlayer = player;">Details</button>
            <button class="btn btn-sm" (click)="addCombatant(player)">Add to Combat</button>
            <button class="btn btn-sm btn-danger" (click)="destroyPlayer(player.id)">Delete</button>
          </div>
        </span>

      </p>
      <button class="btn btn" (click)="open(content); creating=true;">CREATE</button>
      <button class="btn btn" (click)="addAll()">Add All To Combat</button>
    </ul>
  </div>

  <ng-template #content let-c="close" let-d="dismiss" size="lg">
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Player update</h4>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">

      <div *ngIf=creating>
        <input type="text" name="name" placeholder="Name" [(ngModel)]="newPlayer.name" />
        <input type="number" name="maxHp" placeholder="Max HP" [(ngModel)]="newPlayer.currentHp" [(ngModel)]="newPlayer.maxHp" />
        <input type="number" name="initiative" placeholder="Initiative Bonus" [(ngModel)]="newPlayer.initiative" />
        <input type="number" name="ac" placeholder="AC" [(ngModel)]="newPlayer.ac" />
        <input type="number" name="perception" placeholder="Perception" [(ngModel)]="newPlayer.perception" />
        <input type="number" name="investigation" placeholder="Investigation" [(ngModel)]="newPlayer.investigation" />
        <input type="number" name="insight" placeholder="insight" [(ngModel)]="newPlayer.insight" />
        <input type="text" name="imageUrl" placeholder="Image URL" [(ngModel)]="newPlayer.imageUrl" />
        <button class="btn btn" (click)="createPlayer(); d('Cross click');">CREATE</button>
        <button class="btn btn" (click)="creating=false; d('Cross click');">BACK</button>

      </div>

      <div *ngIf='selectedPlayer&&!editPlayer&&!creating' style="margin:auto;width: auto;">
        <img  src={{selectedPlayer.imageUrl}}/>
        <table class="table  table-hover table-bordered table-light">
          <tr>
            <td>Name: </td>
            <td>{{selectedPlayer.name}}</td>
          </tr>
          <tr>
            <td>Max HP: </td>
            <td>{{selectedPlayer.maxHp}}</td>
            <td>Current HP: </td>
            <td>{{selectedPlayer.currentHp}}</td>
          </tr>
          <tr>
            <td>Initiative: </td>
            <td>{{selectedPlayer.initiative}}</td>
            <td>Armor Class: </td>
            <td>{{selectedPlayer.ac}}</td>
          </tr>
          <tr>
            <td>Passive Perception: </td>
            <td>{{selectedPlayer.perception}}</td>
            <td>Passive Investigation: </td>
            <td>{{selectedPlayer.investigation}}</td>
          </tr>
          <tr>
            <td>Passive Insight: </td>
            <td>{{selectedPlayer.insight}}</td>
          </tr>
          <tr>
            <td align=center colspan=2>
              <button class="button" (click)="setEditPlayer()">Edit</button>
            </td>
            <td align=center colspan=2>
              <button class="button" (click)="selectedPlayer=null; d('Cross click')">Back</button>
            </td>
          </tr>
        </table>
      </div>
      <div *ngIf=editPlayer&&!creating style="margin:auto;width: auto;">
        <table class="table table-condensed table-hover table-bordered table-light">
          <form>
            <tr>
              <td>Name: </td>
              <td>
                <input type="text" name="name" placeholder="Name" [(ngModel)]="editPlayer.name" />
              </td>
            </tr>
            <tr>
              <td>Max HP: </td>
              <td>
                <input type="number" name="maxHp" placeholder="Max HP" [(ngModel)]="editPlayer.maxHp" />
              </td>
              <td>Current HP: </td>
              <td>
                <input type="number" name="currentHp" placeholder="Current HP" [(ngModel)]="editPlayer.currentHp" />
              </td>
            </tr>
            <tr>
              <td>Initiative: </td>
              <td>
                <input type="number" name="initiative" placeholder="Initiative Bonus" [(ngModel)]="editPlayer.initiative" />
              </td>
              <td>Armor Class: </td>
              <td>
                <input type="number" name="ac" placeholder="AC" [(ngModel)]="editPlayer.ac" />
              </td>
            </tr>
            <tr>
              <td>Passive Perception: </td>
              <td>
                <input type="number" name="perception" placeholder="Perception" [(ngModel)]="editPlayer.perception" />
              </td>
              <td>Passive Investigation: </td>
              <td>
                <input type="number" name="investigation" placeholder="Investigation" [(ngModel)]="editPlayer.investigation" />
              </td>
            </tr>
            <tr>
              <td>Passive Insight: </td>
              <td>
                <input type="number" name="insight" placeholder="insight" [(ngModel)]="editPlayer.insight" />
              </td>
              <td>Image URL: </td>
              <td>
                <input type="text" name="imageUrl" placeholder="Image URL" [(ngModel)]="editPlayer.imageUrl" />
              </td>
            </tr>





            <tr>
              <td align=center colspan=2>
                <button class="button" (click)="updatePlayer(); d('Cross click');">Save Changes</button>
              </td>
            </tr>
            <tr>
              <td align=center colspan=2>
                <button class="button" (click)="editPlayer=null; d('Cross click');">Cancel Changes</button>
              </td>
            </tr>
          </form>
        </table>
      </div>
    </div>
  </ng-template>



</div>
