md-input-container label {
  color: gray;
}

/* When the input is focused */
md-input-container.md-input-focused label {
  color: black;
}
#libMain {
  background-color: rgba(73, 73, 73, 0.788);
  height: auto;
  width: auto;
  border: black 5px solid;
  padding: 5px;
  color: rgb(255, 255, 255);
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
