<!-- Monsters display -->
<div>
  <div *ngIf='!selectedMonster && monstersVisible' style="margin:auto;width: 60%;
      border: 3px solid rgb(33, 41, 33);
      padding: 10px;">
    <button class="button" (click)="showCreateDiv()">CREATE NEW MONSTER</button>
    <table class="table table-condensed table-hover table-bordered table-striped" *ngIf=!selected>
      <thead class="thead-dark">
        <tr align=center>
          <th colspan=6>Monsters</th>
        </tr>
        <tr>
          <th>Name</th>
          <th>Type</th>
        </tr>
      </thead>
      <tr *ngFor='let monster of monsters'>
        <td (click)="selectedMonster=monster">{{monster.name}}</td>
        <td>{{monster.type}}</td>
      </tr>
    </table>
  </div>

  <div *ngIf='createNew'>
    <h2>Create New Monster</h2>
    <form #createMonsterForm="ngForm">

      <input *ngFor='let attribute of monsterAttributesString' type="text" name={{attribute}} placeholder={{attribute}} ngModel
      />
      <input *ngFor='let attribute of monsterAttributesInt' type="number" name={{attribute}} placeholder={{attribute}} ngModel
      />

      <br />
      <button class="button" (click)="createMonster(createMonsterForm)">CREATE</button>
    </form>
  </div>

  <div *ngIf='selectedMonster&&!editMonster' style="margin:auto;width: 50%;
      border: 3px solid rgb(33, 41, 33);
      padding: 10px;">
    <table class="table table-condensed table-hover table-bordered table-light">
      <thead class="thead-dark">
        <tr align=center>
          <th colspan=2>Monster Details</th>
        </tr>
      </thead>
      <tr *ngFor='let property of generateArray(selectedMonster)'>
        <td *ngIf="property.key !== 'user'">{{property.key}}: </td>
        <td *ngIf="isObject(property.value) && property.key != 'user'">

          <ng-template #content let-c="close" let-d="dismiss">
            <div class="modal-header">
              <h4 class="modal-title">{{selectedSpell.name}}</h4>
              <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                <p>
                    <b>
                      <i>Level:</i>
                    </b>
                    {{selectedSpell.level}} - <b><i>Casting Time: </i></b>{{selectedSpell.castingTime}} - <b><i>Range: </i></b>{{selectedSpell.range}} - <b><i>Duration: </i></b>{{selectedSpell.duration}} - <b><i>Ritual: </i></b>{{selectedSpell.ritual}}<br>
                    <b><i>Concentration: </i></b>{{selectedSpell.concentration}} - <b><i>Components: </i></b>{{selectedSpell.components}} - <b><i>Materials: </i></b>{{selectedSpell.material}}</p>
                  <hr>
              <p>
                <b>
                  <i>Description:</i>
                </b>
                {{selectedSpell.description}}</p>
              <hr>
              <p>
                <b>
                  <i>Higher Level:</i>
                </b>
                {{selectedSpell.higherLevel}}</p>
              <hr>


            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-light" (click)="c('Close click')">Close</button>
            </div>
          </ng-template>

          <p *ngIf="checkLvl('0').length !== 0">
            Cantrips:

            <button class="btn btn-lg btn-outline-primary" *ngFor="let spell of checkLvl('0')" (click)="open(content); selectedSpell = spell;">{{spell.name}}</button>
          </p>
          <p *ngIf="checkLvl('1').length !== 0">
            Level 1:

            <button class="btn btn-lg btn-outline-primary" *ngFor="let spell of checkLvl('1')" (click)="open(content); selectedSpell = spell;">{{spell.name}}</button>

          </p>
          <p *ngIf="checkLvl('2').length !== 0">

            Level 2:

            <button class="btn btn-lg btn-outline-primary" *ngFor="let spell of checkLvl('2')" (click)="open(content); selectedSpell = spell;">{{spell.name}}</button>
          </p>
          <p *ngIf="checkLvl('3').length !== 0">

            Level 3:

            <button class="btn btn-lg btn-outline-primary" *ngFor="let spell of checkLvl('3')" (click)="open(content); selectedSpell = spell;">{{spell.name}}</button>
          </p>
          <p *ngIf="checkLvl('4').length !== 0">

            Level 4:

            <button class="btn btn-lg btn-outline-primary" *ngFor="let spell of checkLvl('4')" (click)="open(content); selectedSpell = spell;">{{spell.name}}</button>
          </p>
          <p *ngIf="checkLvl('5').length !== 0">

            Level 5:

            <button class="btn btn-lg btn-outline-primary" *ngFor="let spell of checkLvl('5')" (click)="open(content); selectedSpell = spell;">{{spell.name}}</button>
          </p>
          <p *ngIf="checkLvl('6').length !== 0">

            Level 6:

            <button class="btn btn-lg btn-outline-primary" *ngFor="let spell of checkLvl('6')" (click)="open(content); selectedSpell = spell;">{{spell.name}}</button>
          </p>
          <p *ngIf="checkLvl('7').length !== 0">

            Level 7:

            <button class="btn btn-lg btn-outline-primary" *ngFor="let spell of checkLvl('7')" (click)="open(content); selectedSpell = spell;">{{spell.name}}</button>
          </p>
          <p *ngIf="checkLvl('8').length !== 0">

            Level 8:

            <button class="btn btn-lg btn-outline-primary" *ngFor="let spell of checkLvl('8')" (click)="open(content); selectedSpell = spell;">{{spell.name}}</button>
          </p>
          <p *ngIf="checkLvl('9').length !== 0">

            Level 9:

            <button class="btn btn-lg btn-outline-primary" *ngFor="let spell of checkLvl('9')" (click)="open(content); selectedSpell = spell;">{{spell.name}}</button>
          </p>










          <hr>
        </td>
        <td *ngIf="!isObject(property.value)">{{property.value}}
        </td>
      </tr>

      <tr>
        <td align=center colspan=2>
          <button class="button" (click)="setEditMonster()">Edit</button>
          <button class="button" (click)="selectedMonster=null">Back</button>
        </td>
      </tr>
    </table>
  </div>
  <!-- Edit Monster Div -->
  <div *ngIf=editMonster>
    <table class="table table-condensed table-hover table-bordered table-light">
      <form>
        <tr>
          <td>name: </td>
          <td>
            <input type='text' name="name" [(ngModel)]="editMonster.name">
          </td>

          <tr>
            <td align=center colspan=2>
              <button class="button" (click)="updateMonster()">Save Changes</button>
            </td>
          </tr>
          <tr>
            <td align=center colspan=2>
              <button class="button" (click)="editMonster=null">Cancel Changes</button>
            </td>
          </tr>
      </form>
    </table>
  </div>
</div>
