#dieMain {
  color: #e6e6e8;
  background-color: #06000a;
  height: auto;
  width: auto;
  border: black 5px solid;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.btn-primary{
  background-color: #300032;
  color: #e6e6e8;
  border: black solid;
}

#dropdown {
  background-color: #300032;
  color: #e6e6e8;
  border: black solid;
}

#rollSubmit {
  position:relative;
  transition: .5s ease;
  height: 74px;
  width: 130px;
  top: 50%;
  left: 2%;
}

#result {
  background-color: #300032;
  color: #e6e6e8;
  border: black solid;
  text-align: center;
}
.example-panel-red .mat-select-content {
  height: 5px;
}
