<div id='generalMain'>
  <mat-tab-group>
    <mat-tab label='Status Conditions'>
      <mat-tab-group>
        <mat-tab label='Blinded'>
          A blinded creature can’t see and automatically fails any ability check that requires sight.
          <br>
          <br> Attack rolls against the creature have advantage, and the creature’s attack rolls have disadvantage.
        </mat-tab>
        <mat-tab label='Charmed'>
          A charmed creature can’t attack the charmer or target the charmer with harmful abilities or magical effects.
          <br>
          <br> The charmer has advantage on any ability check to interact socially with the creature.
        </mat-tab>
        <mat-tab label='Deafened'>
          A deafened creature can’t hear and automatically fails any ability check that requires hearing.
        </mat-tab>
        <mat-tab label='Frightened'>
          A frightened creature has disadvantage on ability checks and attack rolls while the source of its fear is within line of
          sight.
          <br>
          <br> The creature can’t willingly move closer to the source of its fear.
        </mat-tab>
        <mat-tab label='Grappled'>
          A grappled creature’s speed becomes 0, and it can’t benefit from any bonus to its speed.
          <br>
          <br> The condition ends if the grappler is incapacitated (see the condition).
          <br>
          <br> The condition also ends if an effect removes the grappled creature from the reach of the grappler or grappling
          effect, such as when a creature is hurled away by the thunderwave spell.
        </mat-tab>
        <mat-tab label='Incapacitated'>
          An incapacitated creature can’t take actions or reactions.
        </mat-tab>
        <mat-tab label='Invisible'>
          An invisible creature is impossible to see without the aid of magic or a special sense. For the purpose of hiding, the creature
          is heavily obscured. The creature’s location can be detected by any noise it makes or any tracks it leaves.
          <br>
          <br> Attack rolls against the creature have disadvantage, and the creature’s attack rolls have advantage.
        </mat-tab>
        <mat-tab label='Paralyzed'>
          A paralyzed creature is incapacitated (see the condition) and can’t move or speak.
          <br>
          <br> The creature automatically fails Strength and Dexterity saving throws.
          <br>
          <br> Attack rolls against the creature have advantage.
          <br>
          <br> Any attack that hits the creature is a critical hit if the attacker is within 5 feet of the creature.
        </mat-tab>
        <mat-tab label='Petrified'>
          A petrified creature is transformed, along with any nonmagical object it is wearing or carrying, into a solid inanimate substance
          (usually stone). Its weight increases by a factor of ten, and it ceases aging.
          <br>
          <br> The creature is incapacitated (see the condition), can’t move or speak, and is unaware of its surroundings.
          <br>
          <br> Attack rolls against the creature have advantage.
          <br>
          <br> The creature automatically fails Strength and Dexterity saving throws.
          <br>
          <br> The creature has resistance to all damage.
          <br>
          <br> The creature is immune to poison and disease, although a poison or disease already in its system is suspended,
          not neutralized.
          <br>
          <br>
        </mat-tab>
        <mat-tab label='Poisoned'>
          A poisoned creature has disadvantage on attack rolls and ability checks.
        </mat-tab>
        <mat-tab label='Prone'>
          A prone creature’s only movement option is to crawl, unless it stands up and thereby ends the condition.
          <br>
          <br> The creature has disadvantage on attack rolls.
          <br>
          <br> An attack roll against the creature has advantage if the attacker is within 5 feet of the creature. Otherwise,
          the attack roll has disadvantage. </mat-tab>
        <mat-tab label='Restrained'>
          A restrained creature’s speed becomes 0, and it can’t benefit from any bonus to its speed.
          <br>
          <br> Attack rolls against the creature have advantage, and the creature’s attack rolls have disadvantage.
          <br>
          <br>
          <br> The creature has disadvantage on Dexterity saving throws.
        </mat-tab>
        <mat-tab label='Stunned'>
            A stunned creature is incapacitated (see the condition), can’t move, and can speak only falteringly.<br><br>
            The creature automatically fails Strength and Dexterity saving throws.<br><br>
            Attack rolls against the creature have advantage.
        </mat-tab>
        <mat-tab label='Unconscious'>
            An unconscious creature is incapacitated (see the condition), can’t move or speak, and is unaware of its surroundings. <br><br>
            The creature drops whatever it’s holding and falls prone.<br><br>
            The creature automatically fails Strength and Dexterity saving throws.<br><br>
            Attack rolls against the creature have advantage.<br><br>
            Any attack that hits the creature is a critical hit if the attacker is within 5 feet of the creature.
        </mat-tab>
      </mat-tab-group>
    </mat-tab>
  </mat-tab-group>
</div>
