<div id='generalMain'>
  <mat-tab-group>
    <mat-tab label='Status Conditions'>
      <mat-tab-group>
        <mat-tab label='Blinded'>
          A blinded creature can’t see and automatically fails any ability check that requires sight.
          <br>
          <br> Attack rolls against the creature have advantage, and the creature’s attack rolls have disadvantage.
        </mat-tab>
        <mat-tab label='Charmed'>
          A charmed creature can’t attack the charmer or target the charmer with harmful abilities or magical effects.
          <br>
          <br> The charmer has advantage on any ability check to interact socially with the creature.
        </mat-tab>
        <mat-tab label='Deafened'>
          A deafened creature can’t hear and automatically fails any ability check that requires hearing.
        </mat-tab>
        <mat-tab label='Frightened'>
          A frightened creature has disadvantage on ability checks and attack rolls while the source of its fear is within line of
          sight.
          <br>
          <br> The creature can’t willingly move closer to the source of its fear.
        </mat-tab>
        <mat-tab label='Grappled'>
          A grappled creature’s speed becomes 0, and it can’t benefit from any bonus to its speed.
          <br>
          <br> The condition ends if the grappler is incapacitated (see the condition).
          <br>
          <br> The condition also ends if an effect removes the grappled creature from the reach of the grappler or grappling
          effect, such as when a creature is hurled away by the thunderwave spell.
        </mat-tab>
        <mat-tab label='Incapacitated'>
          An incapacitated creature can’t take actions or reactions.
        </mat-tab>
        <mat-tab label='Invisible'>
          An invisible creature is impossible to see without the aid of magic or a special sense. For the purpose of hiding, the creature
          is heavily obscured. The creature’s location can be detected by any noise it makes or any tracks it leaves.
          <br>
          <br> Attack rolls against the creature have disadvantage, and the creature’s attack rolls have advantage.
        </mat-tab>
        <mat-tab label='Paralyzed'>
          A paralyzed creature is incapacitated (see the condition) and can’t move or speak.
          <br>
          <br> The creature automatically fails Strength and Dexterity saving throws.
          <br>
          <br> Attack rolls against the creature have advantage.
          <br>
          <br> Any attack that hits the creature is a critical hit if the attacker is within 5 feet of the creature.
        </mat-tab>
        <mat-tab label='Petrified'>
          A petrified creature is transformed, along with any nonmagical object it is wearing or carrying, into a solid inanimate substance
          (usually stone). Its weight increases by a factor of ten, and it ceases aging.
          <br>
          <br> The creature is incapacitated (see the condition), can’t move or speak, and is unaware of its surroundings.
          <br>
          <br> Attack rolls against the creature have advantage.
          <br>
          <br> The creature automatically fails Strength and Dexterity saving throws.
          <br>
          <br> The creature has resistance to all damage.
          <br>
          <br> The creature is immune to poison and disease, although a poison or disease already in its system is suspended,
          not neutralized.
          <br>
          <br>
        </mat-tab>
        <mat-tab label='Poisoned'>
          A poisoned creature has disadvantage on attack rolls and ability checks.
        </mat-tab>
        <mat-tab label='Prone'>
          A prone creature’s only movement option is to crawl, unless it stands up and thereby ends the condition.
          <br>
          <br> The creature has disadvantage on attack rolls.
          <br>
          <br> An attack roll against the creature has advantage if the attacker is within 5 feet of the creature. Otherwise,
          the attack roll has disadvantage. </mat-tab>
        <mat-tab label='Restrained'>
          A restrained creature’s speed becomes 0, and it can’t benefit from any bonus to its speed.
          <br>
          <br> Attack rolls against the creature have advantage, and the creature’s attack rolls have disadvantage.
          <br>
          <br>
          <br> The creature has disadvantage on Dexterity saving throws.
        </mat-tab>
        <mat-tab label='Stunned'>
            A stunned creature is incapacitated (see the condition), can’t move, and can speak only falteringly.<br><br>
            The creature automatically fails Strength and Dexterity saving throws.<br><br>
            Attack rolls against the creature have advantage.
        </mat-tab>
        <mat-tab label='Unconscious'>
            An unconscious creature is incapacitated (see the condition), can’t move or speak, and is unaware of its surroundings. <br><br>
            The creature drops whatever it’s holding and falls prone.<br><br>
            The creature automatically fails Strength and Dexterity saving throws.<br><br>
            Attack rolls against the creature have advantage.<br><br>
            Any attack that hits the creature is a critical hit if the attacker is within 5 feet of the creature.
        </mat-tab>
      </mat-tab-group>
    </mat-tab>
    <mat-tab label='Potions'>
      <mat-tab-group>
        <mat-tab label='Healing'>
            You regain hit points when you drink this potion. The number of hit points depends on the potion’s rarity, as shown in the Potions of Healing table. Whatever its potency, the potion’s red liquid glimmers when agitated.<br><br>
            Healing: 2d4 + 2<br>
            Greater Healing: 4d4 + 4<br>
            Superior Healing: 8d4 + 8<br>
            Supreme Healing: 10d4 + 20
        </mat-tab>
        <mat-tab label='Invisibility'>
            This potion’s container looks empty but feels as though it holds liquid. When you drink it, you become invisible for 1 hour. Anything you wear or carry is invisible with you. The effect ends early if you attack or cast a spell.
        </mat-tab>
        <mat-tab label='Speed'>
            When you drink this potion, you gain the effect of the haste spell for 1 minute (no concentration required). The potion’s yellow fluid is streaked with black and swirls on its own.
        </mat-tab>
      </mat-tab-group>
    </mat-tab>
    <mat-tab label="Special Abilities">
      <mat-tab-group>
      <mat-tab label="Damage Resistance">
          A creature with damage resistance has resistance to a specified damage type (it takes 1/2 damage from that damage type).
      </mat-tab>
      <mat-tab label="Blindsight">
          A creature with blindsight can perceive its surroundings without relying on sight, within a specific radius. Creatures without eyes, such as oozes, and creatures with echolocation or heightened senses, such as bats and true dragons, have this sense.
      </mat-tab>
      <mat-tab label="Darkvision">
          Within a specified range, a creature with darkvision can see in darkness as if the darkness were dim light, so areas of darkness are only lightly obscured as far as that creature is concerned. However, the creature can’t discern color in darkness, only shades of gray.
      </mat-tab>
      <mat-tab label="Truesight">
          A creature with truesight can, out to a specific range, see in normal and magical darkness, see invisible creatures and objects, automatically detect visual illusions and succeed on saving throws against them, and perceives the original form of a shapechanger or a creature that is transformed by magic. Additionally, the creature can see into the Ethereal Plane.
      </mat-tab>
    </mat-tab-group>
    </mat-tab>
  </mat-tab-group>
</div>
